.SelectTrigger {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 15px;
  height: 48px;
  font-size: 16px;
  font-weight: 600;
  background-color: white;
  border: 1px solid #e5e8eb;
  border-radius: 8px;
  color: #333;
  cursor: pointer;
  outline: none;
}

.SelectTrigger:focus {
  border-color: #3182F6;
  box-shadow: 0 0 0 2px rgba(49, 130, 246, 0.2);
}


.SelectContent {
  overflow: hidden;
  padding : 12px 4px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid #e5e8eb;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2);
  width: var(--radix-select-trigger-width); 
  z-index: 99999;
  max-height: 70vh; 
  overflow-y: auto; 
}

.SelectViewport {
  padding: 5px;
  max-height: 400px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap : 20px;
}

.SelectItem {
  font-size: 15px;
  line-height: 1;
  color: #333;
  border-radius: 5px;
  display: flex;
  gap : 12px;
  align-items: center;
  height: 40px;
  padding: 0 35px 0 15px;
  position: relative;
  user-select: none;
  cursor: pointer;
  outline: none;
}

.SelectItem[data-highlighted] {
  background-color: #F8FAFD;
  color: #3182F6;
  font-weight: bold;
}

.SelectItemIndicator {
  position: absolute;
  right: 10px;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #3182F6;
}

.SelectTrigger[data-disabled] {
    background-color: #f5f5f5; 
    color: #999;              
    cursor: not-allowed;       
}