.container {
    width: 100%;
    height: 100%;
    padding : 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap :20px;
}

.top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topBtnWrap {
    border : 2px solid #000;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap : 5px;
    padding : 3px;
    list-style : none;
}

.topBtnItem > button {
    border : none;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
}

.topBtn.activeBtn {
    background-color: #000;
    color : #fff
}

.content {
    border: 3px solid #000;
    border-radius: 8px;
    width: 100%;
    height: 500px;
    padding : 5px;
}

.calendarContent {
    width: 100%;
    height: 500px;
    padding : 5px;
}

