.container {
    width: 100%;
    min-height: 100vh;
}

.divider {
    width: 100%;
    height: 0.25rem;
    margin-top: 1.875rem;
    background-color: #e5e7eb;
}


.chartArea {
    min-height: 250px;
}


.bottomSection {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 1rem;
    gap: 1.5rem;
}

.listArea {
    grid-row: auto;
}


@media (min-width : 1024px) {
    .bottomSection {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: max-content auto;
        padding: 1.5rem 1.875rem;
        gap: 1.875rem;
    }

    .listArea {
        grid-row: span 2
    }
}
