.container {
    width : 100%;
    min-height: 100vh;
}

.divider {
    width: 100%;
    height: 0.25rem;
    margin-top: 1.875rem;
    background-color: #e5e7eb;
}

.bottomSection {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding : 1.5rem 1.875rem;
    gap: 1.875rem; 
}

.chartArea {

}

.listArea {
    grid-row : span 2
}

.PaymentReminder{

}