.container {
    max-width: 600px;
    margin: 40px auto;
    padding: 30px;
    background: var(--bg-card);
    border: 3px solid var(--border-shadow);
    border-radius: 16px;
    box-shadow: 8px 8px 0px var(--border-shadow);
}

.title {
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 10px;
}

.description {
    font-size: 14px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.inputGroup label {
    font-weight: 700;
    font-size: 14px;
}

.select, .textarea, .disabledInput {
    padding: 12px;
    border: 2px solid var(--border-shadow);
    border-radius: 8px;
    font-size: 15px;
    font-family: inherit;
}

.select:focus, .textarea:focus {
    outline: none;
    background-color: var(--bg-card)beb;
}

.disabledInput {
    background-color: #f1f5f9;
    color: #64748b;
    cursor: not-allowed;
}

.textarea {
    resize: none;
    color : var(--text-main);
}

.submitBtn {
    margin-top: 10px;
    padding: 15px;
    background-color: #fdba74;
    border: 2px solid var(--border-shadow);
    border-radius: 8px;
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
    box-shadow: 4px 4px 0px var(--border-shadow);
    transition: all 0.1s;
}

.submitBtn:hover {
    transform: translate(-2px, -2px);
    box-shadow: 6px 6px 0px var(--border-shadow);
}

.submitBtn:active {
    transform: translate(2px, 2px);
    box-shadow: 0px 0px 0px var(--border-shadow);
}

.submitBtn:disabled {
    background-color: #cbd5e1;
    cursor: not-allowed;
    transform: none;
    box-shadow: none;
}