.container {
    display: flex;
    flex-direction: column;
    gap : 12px;
}

.top {

}

.menuWrap {
    display: flex;
    justify-content: space-between;
}

.menuBtn {
    border: 2px solid #666;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: antiquewhite;
    padding: 0.3rem 1rem;
    font-size: 11px;
    font-weight: 600;
    height: 30px;
}


.ListWrap {
    border: 2px solid #333;
    border-radius: 8px;
    padding: 0; /* 내부 패딩을 0으로 해서 자식이 꽉 차게 */
    margin: 0;
    overflow: hidden; /* 자식 요소가 테두리를 넘지 않도록 */
    background-color: #fff; /* 배경색 통일 */
    display: flex; /* 자식이 높이를 100% 채우도록 */
    flex-direction: column;
}
