.cardBox {
    border-radius: 0.5rem;
    border: 0.15rem solid #666;
    box-shadow: 0.625rem 0.625rem 0.625rem rgba(0, 0, 0, 0.05);
    padding: 1rem; 
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #000;
    overflow: hidden;
}

.itemHeader {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.itemTitle {
    font-size: 0.75rem; 
    font-weight: 600;
}

.itemContent {
    display: flex;
    align-items: center;
    font-size: 1.125rem; 
    font-weight: 700;
}

.itemSubText {
    font-size: 0.8rem;
    color: #666;
}


@media (min-width: 768px) {
    .cardBox {
        padding: 1.5rem; 
        max-width: 100%;
    }
    .itemContent {
        font-size: 1.5rem; 
    }
}